@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100dvw;
  background-color: white;
}

@theme {
  --color-primary: #023b60;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
